<div class="card hidden">
    <form id="prod-form">
        <p style="text-align: center; color:white">Click on product to delete (only for this time)</p>
        <h2>Real time product form</h2>
        <input type="text" id="titleInput" placeholder="Title" required>
        <input type="text" id="descInput" placeholder="Description" required>
        <input type="number" id="priceInput" min="0" value="" step="0.01" placeholder=" 00.0 $ " required>
        <input type="number" id="stockInput" min="1" value="" step="1" placeholder=" In Stock " required>
        <select id="categoryInput" name="category" required>
            <option value="" disabled selected>Choose the type</option>
            <option value="shirt">Shirt</option>
            <option value="pants">Pant</option>
            <option value="shorts">Short</option>
            <option value="hoodie">Hoodie</option>
            <option value="jacket">Jacket</option>
            <option value="coat">Coat</option>
            <option value="dress">Dress</option>
        </select>
        <label>
            Available
            <input id="statusInput" type="checkbox">
        </label>
        <button class="form-btn">ADD PRODUCT</button>
    </form>
</div>
<div class="card products-container">
    {{#each products}}
    <div class="product-card {{#if this.stock}}available{{else}}soldout{{/if}}" data-id="{{this.id}}">
        <img src="./imgs/products/clothe2.webp" alt="">
        <h3>{{this.code}} - {{this.title}}</h3>
        <b>{{this.description}}</b>
        <p>{{this.price}} $</p>
    </div>

    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>